// Heading Color
$heading-color: #212121;

// Text Color
$text-color: #636363;

// Default Background
$bg-default: #ff7902;

// Gray Background
$bg-gray: #f8f8f8;

// Primary Color
$pri-color: #ff7902;

// Secondary Color
$sec-color: #A5A5A5;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #000000;

// Border Color
$border-color: #eaeaea;

// Footer Color
$foo-color: #021c3c;